{% extends "base.html" %}
{% block body %}

<div class="headline">This is a Tic Tac Toe game against an AI using a nuero network!
</div>

<div class="">Click or Tap to play or visit the about page to learn more.</div>

<div class="board">
  <div class="row">
    <div class="square"> </div>
    <div class="square"> </div>
    <div class="square"> </div>
  </div>
    <div class="row">
    <div class="square"> </div>
    <div class="square"> </div>
    <div class="square"> </div>
  </div>
    <div class="row">
    <div class="square"> </div>
    <div class="square"> </div>
    <div class="square"> </div>
  </div>
</div>
{% endblock %}
