body {
  color: slategray;
  font-family: 'Sans Serif';
  line-height: 1.2;
}

body {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

.headline {
  margin: 0;
  font-size: 3em;
  /* See:
   * https://codepen.io/CrocoDillon/pen/jgmwt
   * For some math behind this
   */
}

.board {
  max-width: 600px;
  margin: auto;
}

.board .row {
  display: flex;
  min-height: calc(10vw + 10vh + 2vmin);
  border-bottom: 5px solid black;
}

.board .row:last-child {
  border: none;
}

.square {
  background: white;
  width: 34%;
  color: Blue;
  padding: 7%;
  font-weight: bold;
  font-size: calc(4vw + 4vh + 2vmin);
  text-align: center;
}

.square {
  border-right: 5px solid black;
}

.square:last-child {
  border: none;
}
