body {
  color: slategray;
  font-family: 'Sans Serif';
}

body {
  margin: 10px;
  padding-top: 50px;
}

* {
  box-sizing: border-box;
}

.wrapper { 
  position: relative;
  text-align: center;
  width: 90%;
  max-height: 600px;
  max-width: 600px;
  margin: auto;
}
.wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

.board {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2em;
}

.board .row {
  display: flex;
  height: 33%;
}
.square {
  background: white;
  display: table-cell;
  vertical-align: middle;
  width: 32%;
  height: 100%;
  color: Blue;
  /*padding: 7%;*/
  font-weight: bold;
  font-size: calc(4vw + 4vh + 2vmin);
  text-align: center;
  border: 5px solid black;
}
 .marg {
   margin-top: 5vh;
   margin-bottom: 5vh;
 }
 
 .X {
   color: #606060
 }
 
.O {
  color: #2d2d2d
}
