{% extends "base.html" %}
{% block body %}

<div class="headline">This is a block of text to take up a bit of space, just a place holder for styling sake.....Your Move....
</div>
<div class="board">
  <div class="row">
    <div class="square"> </div>
    <div class="square"> </div>
    <div class="square"> </div>
  </div>
    <div class="row">
    <div class="square"> </div>
    <div class="square"> </div>
    <div class="square"> </div>
  </div>
    <div class="row">
    <div class="square"> </div>
    <div class="square"> </div>
    <div class="square"> </div>
  </div>
</div>
{% endblock %}
